<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\file      omni_structure.urdf.xacro
\authors   Patrick Hussey
\copyright Copyright (c) 2015, Stanley Innovation, Inc., All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Stanley Innovation, Inc. nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="jaco_test_scene">

	<xacro:macro name="jaco_test_scene">
	    <link name="root_link"/>
        <joint name="obs_scene_joint" type="fixed">
            <origin xyz="0 0 0.01" rpy="0 0 0" />
            <parent link="root_link" />
            <child link="jaco_test_scene_link" />
        </joint>

        
	    <link name="jaco_test_scene_link">
			<visual>
				<geometry>
					<mesh filename="package://vector_description/meshes/misc/jaco_lab_scene.dae" />
					<!--mesh filename="package://vector_description/meshes/misc/jaco_test_scene.STL"/-->
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://vector_description/meshes/misc/jaco_lab_scene_collision.STL" />
					<!--mesh filename="package://vector_description/meshes/misc/jaco_test_scene.STL"/-->
				</geometry>
			</collision>
		    <inertial>
			    <mass value="226.796"/>
			    <inertia ixx="1.1e-09" ixy="0" ixz="0" iyy="1.1e-09" iyz="0" izz="1.1e-09"/>
		    </inertial>			    
		</link>
		
        <joint name="jaco_attach_joint" type="fixed">
            <!--origin xyz="0.2159 -0.4826 0.5461" rpy="0 0 0" /-->
            <origin xyz="0.80803750 -0.803275 0.9634" rpy="0 0 0" />
            <parent link="jaco_test_scene_link" />
            <child link="jaco_attach_link" />
        </joint>
        
        <link name="jaco_attach_link"/>
                  
   
    </xacro:macro>

</robot>
