<?xml version="1.0"?>
<launch>

    <!-- ROS Driver, Robot State Publisher, and sensors -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 vector_gazebo jaco.launch"
        name="jaco_gazebo_bringup" output="screen"/>
        
    <!-- MoveIt! configuration -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="5 jaco_moveit_config jaco_moveit_planning_execution.launch sim:=true"
        name="jaco_moveit_bringup" output="screen"/>

    <!-- Kinematics test -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="10 vector_gazebo test_jaco_kinematics.launch"
        name="jaco_kintest_bringup" output="screen"/>

</launch>
