<?xml version="1.0"?>
<launch>

    <!-- ROS Driver, Robot State Publisher, and sensors -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 vector_gazebo vector.launch"
        name="vector_gazebo_bringup" output="screen"/>
        
    <!-- MoveIt! configuration -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="5 vector_moveit_config vector_moveit_planning_execution.launch sim:=true"
        name="vector_moveit_bringup" output="screen"/>

    <!-- Kinematics test -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="10 vector_gazebo test_kinematics.launch"
        name="vector_kintest_bringup" output="screen"/>

</launch>
