<!--Segway Robot Description Launch File-->
<launch>
  <arg name="use_gui" default="false"/>
  <arg name="tf_prefix" default=""/>
  <arg name="pub_joint_state" default="true"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(env VECTOR_DESCRIPTION)'
    robot_name:=VECTOR" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" value="$(arg tf_prefix)"/>
  </node>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg pub_joint_state)">
    <param name="use_gui" value="$(arg use_gui)" />
  	<rosparam param="source_list">[pan_tilt/joint_states]</rosparam>
  </node>
  
</launch>
