<launch>
    <arg name="machine" default="localhost"/>
    <!--System watchdog-->
    <node pkg="vector_ros" type="vector_wd" name="vector2_wd" output="screen" if="$(optenv VECTOR_POWERS_PC_ONBOARD false)" machine="$(arg machine)"/>
    
    <node pkg="vector_pan_tilt" name="pan_tilt_joint_state_publisher" 
        type="pan_tilt_joint_state_publisher" output="screen" machine="$(arg machine)"/>
</launch>
